$nav-bg: #540cd3
$profile: #d6dcde
$success: #00c07f
$failure: #de1b1b

$palette-1: #d6dcde
$palette-2: #b3cbdc
$palette-3: #90adda
$palette-4: #6f84d9
$palette-5: #4d4fd7
$palette-6: #4a2dd5
$palette-7: #540cd3

$font: Helvetica, Arial, sans-serif
