//$nav-bg: #540cd3
$nav-bg: #327586
$profile: #d6dcde
$success: #00c07f
$failure: #de1b1b

// $palette-1: #d6dcde
// $palette-2: #b3cbdc
// $palette-3: #90adda
// $palette-4: #6f84d9
// $palette-5: #4d4fd7
// $palette-6: #4a2dd5
// $palette-7: #540cd3

$palette-1: #ccd6d6
$palette-2: #a9cdcc
$palette-3: #88c2c4
$palette-4: #69b5ba
$palette-5: #4da6b1
$palette-6: #3496a8
$palette-7: #1c859f

$font: Helvetica, Arial, sans-serif
