body
	display: flex
	display: -webkit-flex

#nav
	position: fixed
	display: block
	width: 100%
	top: 0

#nav ul
	list-style-type: none
	margin: 0
	padding: 0
	overflow: hidded
	background-color: #4552A6
	position: absolute
	top: 0
	width: 100%
	border-style: solid

#nav li
	float: left

#nav li a
	display: block
	color: white
	text-align: center
	padding: 14px 16px
	text-decoration: none

#nav li a:hover:not(.active)
	background-color: #1A2778
	color: white

#nav li a:hover
	text-decoration: none

#nav input
	float: right
	margin: 14px 16px 0px

#container
	margin-top: 54px

.login
	position: relative
	padding-top: 50px

#login
	background-color: #6441a5
	color: white
	border-style: solid
	border-color: black
	text-decoration: none

#login:hover
	background-color: #391678

a:hover
	text-decoration: none

a:visited
	color: white
	