@import 'variables'

.todoDiv
  ul
    margin-top: 10px
  li
    list-style: none
    margin-left: 0px
    padding: 5px
  li:nth-of-type(odd)
    background: lighten($palette-1, 10%)
    .icon
      background: lighten($palette-1, 10%)
  .icon
    float: left
