@import 'variables'

#nav
	position: fixed
	display: block
	width: 100%
	top: 0

#nav ul
	list-style-type: none
	margin: 0
	padding: 0
	overflow: hidded
	background-color: $nav-bg
	position: absolute
	top: 0
	width: 100%
	border-style: solid

#nav li
	float: left

#nav li a
	display: block
	color: white
	text-align: center
	padding: 14px 16px
	text-decoration: none
	font-family: $font

#nav li .searchDiv
	span, input
		float: left
		background: white
		margin-top: 13px
	input
		padding-top: 2px
		padding-bottom: 2px
		border: none
		font-family: $font
	input:focus
		outline: none
	span
		padding-top: 2px
		padding-left: 2px
		padding-bottom: 2px
		padding-right: 5px
		color: $nav-bg

#nav li a:hover:not(.active)
	color: darken(white, 20%)
	text-decoration: underline

#nav li a:hover
	/*text-decoration: none

#nav #logout
	float: right
